<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServletCrudApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>A</servlet-name>
  	<servlet-class>SaveServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>A</servlet-name>
  	<url-pattern>/submit</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<servlet-class>ViewServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>DeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<servlet-class>EditServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EditServlet</servlet-name>
  	<url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>EditServlet2</servlet-name>
  	<servlet-class>EditServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EditServlet2</servlet-name>
  	<url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
  
  
</web-app>